@charset "UTF-8";
body {
  font-family: Lato, sans-serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: url("whitecorner.jpeg") no-repeat center 0px fixed;
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background-color: rgba(255,255,255,.5);
}

::selection {
  color: white;
  background: black;
}

a {
  text-decoration: none;
}
a:link {
  color: #939;
}
a:visited {
  color: #937393;
}
a:focus, a:hover {
  color: white;
  background-color: black;
}

a:active {
  color: white;
  background-color: black;
}

h1 {
  font: bold 3.0em Lato, sans-serif;
  height: 65px;
  background-color: rgb(0, 139, 139);
  color: rgb(255,255,255);
}
h2 {
  font: bold 1.5em Lato, sans-serif;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: rgb(0,139,139);
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.a {
  list-style-type: square;
}
div.a {
  text-indent: 50px;
}
ul.b {
  list-style-type: square;
}
div.b {
  text-indent: 50px;
}
ul.c {
  list-style-type: square;
}
div.c {
  text-indent: 50px;
}
ul.d {
  list-style-type: square;
}
div.d {
  text-indent: 50px;
}
ul.e {
  list-style-type: square;
}
div.e {
  text-indent: 50px;
}
ul.f {
  list-style-type: square;
}
div.f {
  text-indent: 50px;
}
ul.g {
  list-style-type: square;
}
div.g {
  text-indent: 50px;
}
